
{{>header}}

{{>navbar}}

    <div
      class="container-form-blog d-flex align-items-center justify-content-center"
    >
      <div class="container-form">
        <p class="h2 text-center mb-5">Login</p>
        {{>message}}
        <form action="/sign-in" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              aria-describedby="passwordHelp"
              name="password"
            />
          </div>
          <div class="d-flex justify-content-between">
            <a href="/sign-up">
              Create account?
            </a>
            <button type="submit" class="btn btn-primary mt-3">
              Post Blog
            </button>
          </div>
        </form>
      </div>
    </div>

{{>footer}}
